.box {
    display: grid;
    transition: all 0.05s ease 0s;
    gap: 12px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-items: center;
    padding: 0px;
}

.box>.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.box .cards {
    width: 100%;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Each line contains 4 cards */
    gap: 2rem;
}

.box .card {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    transition: 0.5s ease-out;
    text-decoration: none;
    /* Remove underline from links */
    color: inherit;
    /* Inherit text color from parent */
}

.box .card:hover {
    transform: scale(0.95);
}

.box .card>.images img {
    width: 100%;
    height: 25vh;
    border-radius: 16px;
    overflow: hidden;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.box .card>div {
    padding: 0.2rem;
}

.box .card>.item-name {
    margin: 0px;
    font-family: Basis_Grotesque_Pro_Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.box .card .rating {
    align-items: center;
    margin-top: 2px;
    gap: 2px;
    justify-content: start;
}

.box .card .info {
    align-items: center;
    margin-top: 2px;
    gap: 2px;
}