.category-rest-container {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .category-header {
    color: #282c3f;
    padding-top: 60px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1260px;
    min-width: 1260px;
    padding-left: 16px;
  }
  
  .category-title {
    font-size: 40px;
    font-weight: 600;
  }
  
  .category-subtitle {
    font-size: 16px;
    color: #666;
  }
  

  @media (max-width:480px){
    .category-rest-container {
        width: 80%;
  
        min-height: 50vh;
        overflow-x:hidden;
       
      }
      
      .category-header {
       padding: 0.5rem;
        width: 80%;
       
      }
      
      .category-title {
        font-size: 1.5rem;
        font-weight: 600;
      }
      
      .category-subtitle {
        font-size: 0.8rem;
        color: #666;
        width: 60%;
      }
      
  }