.home {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.bottom-line {
    margin: 2rem auto 3rem auto;
    height: 0.5px;
    background-color: rgb(226, 226, 231);
    width: calc(100% - 32px);
    margin: 24px auto;
}

.slider-box {
    height: 50vh;
}