.home {
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
    
}

.bottom-line {
   
    height: 0.5px;
    background-color: rgb(226, 226, 231);
    width: calc(100% - 32px);
    margin: 24px auto;
}

.slider-box {
    height: 60vh;
}

@media (max-width: 480px) {

    .home{
        width: 100%;
        min-height:40vh;
        overflow-x:hidden;
        margin: 0.2rem;
    }
    .bottom-line {
   
        height: 0.5px;
        background-color: rgb(226, 226, 231);
        width: calc(100% - 32px);
        margin:0.5rem;
    }
    .slider{
        height: 10vh;
    }
    .slider-box{
        height: 40vh;
    }
}