.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: sticky;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.258);
    z-index: 1000;
}

.back-button>svg {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
}

.back-button>svg:hover {
    color: #fc8019;
}

.logo {
    flex: 5;
    margin: auto;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
}

.nav-items {
    flex: 5;
    width: 100%;
    margin: auto;
}

.nav-items ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-items>ul li {
    cursor: pointer;
    font-size: 1.1rem;
}

.nav-items>ul li:hover {
    color: #fc8019;
}