.searchSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    height: 30vh;
}

.searchSlider .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchSlider .heading h2 {
    font-size: 1.1rem;
}

.searchSlider .button {
    display: flex;
    justify-content: space-between;
}

.searchSlider .button button {
    margin: 0.5rem;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(190, 188, 188);
    color: black;
    width: 2rem;
    height: 2rem;
}

.searchSlider .button button:hover {
    background-color: black;
    color: white;
}

.searchSlider .slider-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.sliderImg {
    cursor: pointer;
    width: 100%;
    height: 7rem;
    transition: 0.5s ease-in;
}

.sliderImg:hover {
    transform: scale(1.1);
}