.search {
    margin: 2rem auto;
    padding: 1rem;
    min-height: calc(100vh - 70px);
    width: 80%;
}

.search-bar {
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    border: 1px solid black;
}

.search-bar > input {
    font-size: 1.1rem;
    line-height: 24px;
    width: 80%;
    height: 100%;
    outline: none;
    padding: 0.7rem;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: inherit;
    color: inherit;
    background: inherit;
    vertical-align: middle;
    font-weight: 500;
}

.svg_search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    width: 20%;
    cursor: pointer;
    color: rgb(255, 140, 0);
    border: none;
}

.svg_search svg {
    font-size: 1.3rem;
    font-weight: 1000;
}

.search-slider {
    width: 100%;
    margin-top: 1rem;
}

.searchResult {
    background: #fff;
    color: #282c3f;
    width: 100%;
    padding: 13px 0 56px;
    overflow-x: hidden;
}

.searchResult button {
    margin-top: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    text-align: left;
}

._2f0cx {
    display: flex;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

._23LIV {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.RNzoC {
    font-size: 1.07rem;
    margin-bottom: 1px;
}

.morebtn {
    width: 100%;
}

.morebtnstyle {
    padding: 0.5rem;
    font-weight: 800;
    font-size: 1.2rem;
}

._1Z_E6 {
    font-size: 1rem;
    color: #7e808c;
}

.search-result:hover {
    background-color: rgb(241, 161, 132);
    width: 100%;
    opacity: 0.8;
}

.searchInfo {
    width: 95%;
    min-height: 40vh;
    margin: 2rem 0;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    background-color: rgb(238, 236, 236);
    border-radius: 6px;
}

.selectedSearchCard {
    margin: 0.5rem auto;
}

@media (max-width: 480px) {
    .search {
        width: 90%;
        padding: 0.3rem;  overflow-x:hidden;
    }

    .selectedSearchCard {
        width: 95%;
        padding: 0.3rem;
        margin: auto;
    }

    .morebtnstyle {
        padding: 0.5rem;
        font-weight: 800;
        font-size: 1.1rem;
    }

    ._1Z_E6 {
        font-size: 1rem;
        color: #7e808c;
    }

    .searchInfo {
        width: 100%;
        min-height: 30vh;
        margin: auto;
        display: grid;
        padding: 0;
        grid-template-columns: 1fr;
        gap: 1rem;
        background-color: rgb(238, 236, 236);
        border-radius: 6px;
    }

    .searchResult button {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    ._23LIV {
        margin-left: 0;
        text-align: center;
    }
}
